        #container
            {
                width: 1200px;
                margin: 0 auto;
                padding-top: 10px;
            }
        ul
            {
                list-style-type: none;
                margin: 0px;
                padding: 0px;
            }
        li a:link, li a:visited
            {
                text-decoration: none;
                color: black;
                font-family: arial;
                font-size: .9em;
                
            }
        li
            {
                display: inline-block;
                text-align: center;
                width: 125px;
                height: 50px;
                padding-left: 10px;
                padding-right: 10px; 
                padding-top: 28px;
                margin: -2px;
            }
        li a:hover
            {
                color: #44cc00;
            }
            
        